<br>
<div class="basic-grey">
<h1>Seja Bem-vindo!</h1>

<ul>
	<li><src href="sprite.svg#si-glyph-bullet-list-2" /></svg-icon><%= link_to "Tipos", kinds_path, class: "btn btn-light btn-lg" %></li>
	<li><src href="sprite.svg#si-glyph-old-phone" /></svg-icon><%= link_to "Contatos", contacts_path, class: "btn btn-light btn-lg" %></li>
</ul>
</div>
